@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    display: grid;
    align-content: center;
    gap: 4rem;
    padding: 4rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        h1 {
            text-align: center;
        }

        ul {
            --col-gap: 2rem;
            --row-gap: 2rem;
            --line-w: 0.25rem;
            display: grid;
            grid-template-columns: var(--line-w) 1fr;
            grid-auto-columns: max-content;
            column-gap: var(--col-gap);
            list-style: none;
            width: min(60rem, 90%);
            margin-inline: auto;

            &::before {
                content: "";
                grid-column: 1;
                grid-row: 1 / span 20;
                background: rgb(0, 0, 0);
                border-radius: calc(var(--line-w) / 2);
            }

            li {
                grid-column: 2;
                --inlineP: 1.5rem;
                margin-inline: var(--inlineP);
                grid-row: span 2;
                display: grid;
                grid-template-rows: min-content min-content min-content;
                gap: 20px;
                
                &:not(:last-child) {
                    margin-bottom: var(--row-gap);
                }
                &:nth-child(odd) {
                    .header {
                        --accent-color: #2f5596;
                    }
                }

                &:nth-child(even) {
                    .header {
                        --accent-color: #f29733;
                    }
                }
                    
                &.editable {
                    cursor: text;
                    .header {
                        b {
                            border:1px dashed lightblue;
                        }
                        .icons {
                            .edit {
                                background-color: green;
                                color: #fff;
                            }
                        }
                    }
                    .body {
                        p {
                            border:1px dashed green;
                        }
                    }
                    .save {
                        background-color: green;
                        border: 1px dashed darkgreen;
                        border-radius: 10px;
                        color: #fff;
                        cursor: pointer;
                        padding: 10px;
                        font-size: 18px;
                        font-weight: bold;
                        width: fit-content;
                    }
                }
                .header {
                    --dateH: 3rem;
                    height: var(--dateH);
                    margin-inline: calc(var(--inlineP) * -1);

                    text-align: center;
                    background-color: var(--accent-color);

                    color: white;
                    font-size: 1.25rem;
                    font-weight: 700;

                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    position: relative;
                    padding: 0 20px;

                    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);

                    .icons {
                        display: flex;
                        height: 100%;
                        gap: 5px;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            width: 15px;
                            height: 15px;
                        }
                        .edit, .remove {
                            width: 30px;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            padding: 5px;
                            background-color: #fff;
                            color: var(--accent-color);
                        }
                        .edit {
                            &:hover {
                                background: green;
                                color: #fff;
                            }
                        }
                        .remove {
                            &:hover {
                                background: red;
                                color: #fff;
                            }
                        }
                    }

                    &::before {
                        content: "";
                        width: var(--inlineP);
                        aspect-ratio: 1;
                        background: var(--accent-color);
                        background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
                        position: absolute;
                        top: 100%;

                        clip-path: polygon(0 0, 100% 0, 0 100%);
                        right: 0;
                    }

                    &::after {
                        content: attr(data-id);
                        color: #000;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 400;
                        width: 2rem;
                        height: 2rem;
                        aspect-ratio: 1;
                        background: var(--bgColor);
                        border: 0.3rem solid var(--accent-color);
                        border-radius: 50%;
                        top: 50%;

                        transform: translate(50%, -50%);
                        right: calc(100% + var(--col-gap) + var(--line-w) / 2);
                    }
                }

                .title,
                .body {
                    background: var(--bgColor);
                    position: relative;
                    padding-inline: 1.5rem;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 0.5rem;
                        background: rgba(0, 0, 0, 0.5);
                        left: 50%;
                        border-radius: 50%;
                        filter: blur(4px);
                        transform: translate(-50%, 50%);
                    }
                }

                .title {
                    overflow: hidden;
                    padding-block-start: 1.5rem;
                    padding-block-end: 1rem;
                    font-weight: 500;

                    &::before {
                        bottom: calc(100% + 0.125rem);
                    }
                }

                .body {
                    padding-block-end: 1.5rem;
                    font-weight: 300;

                    &::before {
                        z-index: -1;
                        bottom: 0.25rem;
                    }
                }
                
            }

            

            @media (min-width: 40rem) {
                grid-template-columns: 1fr var(--line-w) 1fr;

                &::before {
                    grid-column: 2;
                }

                li {
                    &:nth-child(odd) {
                        grid-column: 1;
                        .header {
                            flex-direction: row-reverse;
                        }
                    }

                    &:nth-child(even) {
                        grid-column: 3;
                    }

                    &:nth-child(2) {
                        grid-row: 2/4;
                    }

                    &:nth-child(odd) {
                        .header {
                            border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;

                            &::before {
                                clip-path: polygon(0 0, 100% 0, 100% 100%);
                                left: 0;
                            }

                            &::after {
                                transform: translate(-50%, -50%);
                                left: calc(100% + var(--col-gap) + var(--line-w) / 2);
                            }
                        }
                    }
                }
            }
        }
    }
}